@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

nav {
    padding: 10px;
    width: 100vw;
    background-color: green;
    color: white;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

